:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --text-color: #f1b2ce;
  --h1-text-color: #db00ff;
  --h3-text-color: #000028;
  --button-color: #ff0070;
  --accent-color: #ff0070;
  --section-heading-color: #ff0070;
  --translucent-color: #ff007066;
  --border-line: 1px solid #ff0070;
}

.theme-dark .header__decorative-inscription {
  display: block;
}