:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fbeffa;
  --text-color: #353430;
  --h1-text-color: #ffc2e6;
  --h3-text-color: #353430;
  --button-color: #353430;
  --accent-color: #ff8dcb;
  --section-heading-color: #353440;
  --translucent-color: #32312d66;
  --border-line: 1px solid #353430;
}

.theme-light .header__decorative-inscription {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fbeffa;
    --text-color: #353430;
    --h1-text-color: #ffc2e6;
    --h3-text-color: #353430;
    --button-color: #353430;
    --accent-color: #ff8dcb;
    --section-heading-color: #353440;
    --translucent-color: #32312d66;
    --border-line: 1px solid #353430;
  }

  .header__decorative-inscription {
    display: none;
  }
}
